{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} - Modifier un client {% endblock %}

{% block contenu %} 

    {% if form.client is defined %} 
        {% if form.client != null %}
            <form class="form-signin" action="index.php?page=clientmodif" method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="h3 mb-3 font-weight-normal">Modifier un client</h1>      
                <label for="nom" class="sr-only">Nom:</label>
                <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{form.client.nom}}" required>
                <label for="contact" class="sr-only">Contact:</label>
                <input type="text" id="contact" name="contact" class="form-control" placeholder="Contact" value="{{form.client.contact}}" required>
                <label for="coordonnee" class="sr-only">Coordonnée:</label>
                <input type="text" id="coordonnee" name="coordonnee" class="form-control" placeholder="Coordonnée" value="{{form.client.coordonnee}}" required>
                <input type="hidden" id="id" name="id" value="{{form.client.id}}"/> 
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>     
            </form>
        {% else %} 
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=client" class="violet">Retourner sur la liste des clients</a></h1>
        {% endif %}     

    {% else %}  
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=client" class="violet">Retourner sur la liste des clients</a></h1>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=client" class="violet">Retourner sur la liste des clients</a></h1>
        {% endif %} 
    {% endif %}      

{% endblock %} 

