{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des clients {% endblock %}

{% block contenu %} <h1> Gestion des clients </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        {% else %}  
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}         

    <div class="panel">
        <div class="panel-heading background-violet">Liste des clients - <a href="index.php?page=clientajout" class="blanc">Ajouter un client</a></div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>Coordonnée</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for u in listeClient %}
                    <tr>
                        <td>{{u.nom}}</td>
                        <td>{{u.contact}}</td>
                        <td>{{u.coordonnee}}</td>
                        <td><div class="btn-group btn-group-lg"><a href="index.php?page=clientmodif&id={{u.id}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td>
                        <td><div class="btn-group btn-group-lg"><a href="index.php?page=client&id={{u.id}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td>
                    </tr>
                    {% for p in u.projets%}
                    <tr>
                        <th></th>
                    </tr>
                    {% endfor%}
                {% endfor %}    
            </table>
        </div>
    </div>

{% endblock %} 

