{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'un client {% endblock %}

{% block contenu %} <h1> Ajout d'un client </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=client" class="violet">Retourner sur la liste des clients</a></h1>

        {% else %} 
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
        {% endif %}     
    {% else %}      

        <div class="panel-body">
            <form  class="form-signin" action="index.php?page=clientajout" method="post" enctype="application/x-www-form-urlencoded">
                <label for="inputNom" class="sr-only">Nom:</label>
                <input type="text" id="inputNom" name="inputNom" class="form-control" placeholder="Saisir un nom de client" required autofocus>
                <label for="inputContact" class="sr-only">Contact:</label>
                <input type="text" id="inputContact" name="inputContact" class="form-control" placeholder="Saisir un nom de contact" required autofocus>
                <label for="inputCoordonnee" class="sr-only">Coordonnée:</label>
                <input type="text" id="inputCoordonnee" name="inputCoordonnee" class="form-control" placeholder="Saisir les coordonées" required autofocus>

                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
            </form>
        </div>    
    {% endif %}
{% endblock %} 
