{% extends "base.html.twig" %}

{% block contenu %}
    {% if form.utilisateur is defined %} 
        {% if form.utilisateur != null %}
            <form class="form-signin" action="index.php?page=comptemodif" method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="h3 mb-3 font-weight-normal">Modifier le compte</h1>
                <label for="nom" class="sr-only">Nom :</label>
                <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{form.utilisateur.nom}}" required>
                <label for="prenom" class="sr-only">Prénom :</label>
                <input type="prenom" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{form.utilisateur.prenom}}" required>
                
                <label for="inputPassword" class="sr-only">Nouveau mot de passe :</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Nouveau mot de passe">
                <label for="inputPassword2" class="sr-only">Confirmer le nouveau mot de passe : </label>
                <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmer le nouveau mot de passe">
                <label for="inputEmail" class="sr-only">Email :</label>
                <input type="text" name="email" class="form-control" value="{{ form.utilisateur.email }}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btEnregistrer">Enregistrer</button>

            </form>
        {% else %} 
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
        {% endif %}     

    {% else %}  
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php" class="violet">Retourner sur la page précédente</a></h1>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php" class="violet">Retourner sur la page précédente</a></h1>
        {% endif %} 
    {% endif %}
{% endblock %} 
