{% extends "base.html.twig" %}

{% block contenu %} 

    <h1 class="h3 mb-3 font-weight-normal">Compétences</h1>

    <div class="panel">
        <div class="panel-heading background-violet">Vos Compétences</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Libelle</th>
                    <th>Version</th>
                    <th>Coût</th>
                </tr>
                {% for c in voscompetences %}
                    <tr>
                        <td>{{c.libelle}}</td>
                        <td>{{c.version}}</td>
                        <td>{{c.cout}}€/h</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>

    <form class="form-signin" action="index.php?page=competences" method="post" enctype="application/x-www-form-urlencoded">

        <div class="panel">
            <div class="panel-heading background-violet">Liste des Compétences</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Libelle</th>
                        <th>Version</th>
                        <th>Coût</th>
                            {% if session.role == 1 %}
                            <th><input type="checkbox" id="checkAll" onClick="deleteCheck()"/></th>
                            {% endif %}

                    </tr>
                    {% for c in liste %}
                        {% if c.id not in list_competence %}
                            <tr>
                                <td>{{c.libelle}}</td>
                                <td>{{c.version}}</td>
                                <td>{{c.cout}}€/h</td>
                                {% if session.role == 1 %}
                                    <td><input type="checkbox" name="cocher[]" value="{{ c.id }}"/></td>
                                    {% endif %}
                            </tr> 
                        {% endif %}
                    {% endfor %}
                </table>
                <button class="" type="submit" name="btSupprimer">Supprimer</button>

            </div>
        </div>
    </form>
    {% if session.role == 1 %}
        <form class="form-signin" action="index.php?page=competences" method="post" enctype="application/x-www-form-urlencoded">
            <h1 class="h3 mb-3 font-weight-normal">Ajouter une compétence</h1>
            <label for="inputLibelle" class="sr-only">Libelle:</label>
            <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Libelle">

            <label for="inputVersion" class="sr-only">Version:</label>
            <input type="text" id="inputVersion" name="inputVersion" class="form-control" placeholder="Version">

            <label for="inputCout" class="sr-only">Coût:</label>
            <input type="text" id="inputCout" name="inputCout" class="form-control" placeholder="Coût">

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
        </form>
    {% endif %}
{% endblock %}