{% extends "base.html.twig" %}
{% block contenu %}
    <br>
    <br>
    
    <div class="panel">
        <div class="panel-heading background-violet">Liste des contrats - <a href="index.php?page=contratajout" class="blanc">Ajouter un contrat</a></div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Projet</th>
                    <th>Délai</th>
                    <th>Signature</th>
                    <th>Coût</th>
                    <th>Echeance</th>
                    <th></th>
                </tr>
                {% for ct in selectAll %}
                    <tr>
                        <td>{{ct.nom}}</td>
                        <td>{{ct.delai_de_production}}</td>
                        <td>{{ct.date_signature}}</td>
                        <td>{{ct.cout_global}}</td>
                        <td>{{ct.echeance}}</td>
                        <td><div class="btn-group btn-group-lg"><a href="index.php?page=contratmodif&id={{ct.id}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>
                
{% endblock %}
