{% extends "base.html.twig" %}

{% block title %} {{ parent() }} A propos {% endblock %}

{% block contenu %}

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=contrat" class="violet">Retourner sur la liste des clients</a></h1>

        {% else %} 
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
        {% endif %}     
    {% else %}      
        <br>
        <br>
        <div class="panel-body">
            <form  class="form-signin" action="index.php?page=contratajout" method="post" enctype="application/x-www-form-urlencoded">
                <select name="inputIdProjet">
                    {% for p in projets %}
                        <option value="{{ p.id }}">{{ p.nomprojet }}</option>
                    {% endfor %}
                </select>
                <label for="inputDelaiDeProduction" class="sr-only">Délai de Production:</label>
                <input type="text" id="inputDelaiDeProduction" name="inputDelaiDeProduction" class="form-control" placeholder="Saisir le délai" required autofocus>

                <label for="inputDateSignature" class="sr-only">Date de Signature:</label>
                <input type="text" id="inputDateSignature" name="inputDateSignature" class="form-control" placeholder="Saisir la date de signature" required autofocus>

                <label for="inputCoutGlobal" class="sr-only">Coût Global:</label>
                <input type="text" id="inputCoutGlobal" name="inputCoutGlobal" class="form-control" placeholder="Saisir le coût global" required autofocus>

                <label for="inputEcheance" class="sr-only">Echeance:</label>
                <input type="text" id="inputEcheance" name="inputEcheance" class="form-control" placeholder="Saisir l'écheance" required autofocus>

                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
            </form>
        </div>    
    {% endif %}

{% endblock %} 