{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Gestion des tâches {% endblock %}
{% block contenu %} <h1> Gestion des tâches </h1> 
    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        {% else %}  
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}
    <input type="hidden" value="{{ get.idProjet }}" id="idProjet"/>
    <h2>Projet : {{liste.nomProjet}}</h2>
    <div class="panel">
        <div class="panel-heading background-violet"></div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Développeur Libre</th>  
                    <th>Développeur affecté au projet</th>                                             
                </tr>
                <tr>
                    <td>
                        <div id="noAffect" style=" height: 150px; overflow:auto;">
                            {% for dev in listeUtilisateur %}

                                <li id="dev_{{dev.id}}" onmouseover="document.getElementById('arrow_{{ dev.id}}').style.visibility = 'visible';" onmouseout="document.getElementById('arrow_{{ dev.id}}').style.visibility = 'hidden';" onclick="changeAffect('{{dev.id}}');">
                                    <span id="text_{{dev.id}}">{{dev.nom}} {{dev.prenom}}</span>
                                    <span id="arrow_{{ dev.id}}" style="visibility: hidden;" class=" glyphicon glyphicon-arrow-right"></span>
                                </li> 

                            {% endfor %}
                        </div>
                    </td>  
                    <td>
                        <div id="affect"  style=" height: 150px; overflow:auto;">
                            {% for dev in listeUtilisateurProjet %}

                                <li id="dev_{{dev.id}}" onmouseover="document.getElementById('arrow_{{ dev.id}}').style.visibility = 'visible';" onmouseout="document.getElementById('arrow_{{ dev.id}}').style.visibility = 'hidden';" onclick="changeAffect('{{dev.id}}');">
                                    <span id="arrow_{{ dev.id}}" style="visibility: hidden;" class=" glyphicon glyphicon-arrow-left"></span>
                                    <span id="text_{{dev.id}}">{{dev.nom}} {{dev.prenom}}</span>
                                </li> 

                            {% endfor %}
                        </div>
                    </td>
                </tr> 
            </table>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading background-violet"></div>
        <div class="table-responsive">
            <table id="developpeur_task" class="table table-hover table-striped">
                <tr>
                    <th>Développeur</th>  
                    <th>Tâche</th>                                             
                </tr>
                {% for dev in listeUtilisateurProjet %}

                    <tr id="devAffect_{{dev.id}}">
                        <td>{{dev.nom}} {{dev.prenom}}</td>  
                        <td>
                            <select onchange="addTask({{dev.id}}, this.value);">
                                

                                {% for t in listeTache %}
                                    <option value="{{ t.id }}" {% if t.id == dev.taches.id %}selected{%endif%}>{{t.libelle}}</option>
                                {% endfor%}
                            </select>
                        </td> 
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %} 

