{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des developpeurs {% endblock %}

{% block contenu %} <h1> Gestion des developpeurs </h1> 
    <div class="panel">
        <div class="panel-heading background-violet">Liste des projets</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Projet</th>  
                    <th>Développeur affecté</th>  
                    <th>Modifier affectation</th>                    
                </tr>
                {% for p in listeProjet %}
                <tr>
                    <td>{{p.nomprojet}}</td>
                    <td>
                        <ul>
                        {% for d in p.listeDev%}
                            <li> {{d.nom}} {{d.prenom}}</li>
                        {% endfor%}
                        </ul>
                    </td>    
                    <td><a href="index.php?page=developpeurAffectation&idProjet={{p.id}}">Modifier</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
{% endblock %} 

