{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}
{% block contenu %} 
    {%if session.login is not defined %} 
        <form class="form-signin" action="index.php?page=connexion" method="post" enctype="application/x-www-form-urlencoded">
            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous au tableau de bord</h1>
            <label for="inputEmail" class="sr-only">Email:</label>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe:</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-lg  btn-block" type="submit" name="btConnecter">Se connecter</button>
            <a href="index.php?page=inscrire">S'inscrire</a>  
        </form>
    {% else %}    
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes connecté sur le tableau de bord</h1>
        {%if session.role == 1 %}
            <div class="panel">
                <div class="panel-heading background-violet">En tant que chef de projet vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=utilisateur" class="violet">Gestion des utilisateurs</a></li>
                        <li><a href="index.php?page=projet" class="violet">Gestion des projets</a></li>
                        <li><a href="index.php?page=comptemodif" class="violet">Modifier paramètre du compte</li>
                        <li><a href="index.php?page=competences" class="violet">Vos compétences</li>
                        <li><a href="index.php?page=tachesDev" class="violet">Votre travail</li>
                    </ul>    
                </div>    
            </div>
        {% else %}
            <div class="panel">
                <div class="panel-heading background-violet">En tant que développeur vous avez accès à :</div>
                <div class="panel-body violet">
                    <ul>
                        <li><a href="index.php?page=comptemodif" class="violet">Modifier paramètre du compte</li>
                        <li><a href="index.php?page=competences" class="violet">Vos compétences</li>
                        <li><a href="index.php?page=tachesDev" class="violet">Votre travail</li>
                    </ul>    
                </div>    
            </div> 
        {% endif %}   
    {% endif %}    
{% endblock %} 

