{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'une équipe {% endblock %}

{% block contenu %} <h1> Ajout d'un projet </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>

        {% else %} 
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
        {% endif %}     
    {% else %}      

        <div class="panel-body">
            <form  class="form-signin" action="index.php?page=projetajout" method="post" enctype="application/x-www-form-urlencoded">
                <label for="inputNom" class="sr-only">Nom projet:</label>
                <input type="text" id="inputLibelle" name="inputNom" class="form-control" placeholder="Saisir un nom de projet" required autofocus>
                <label for="inputIdClient" class="sr-only">Client:</label>
                <select name="inputIdClient" class="form-control">

                    {% for c in form.listeClient %}
                        <option value="{{ c.id }}">{{ c.nom }}</option> 
                    {% endfor%}    
                </select>
                <textarea class="form-control" name="inputDescription" placeholder="Description du projet"></textarea>

                <label for="inputIdResponsable" class="sr-only">Responsable:</label>
                <select name="inputIdResponsable" class="form-control">

                    {% for r in form.liste %}
                        <option value="{{ r.id }}">{{ r.nom }} {{ r.prenom }}</option> 
                    {% endfor%}    
                </select>    
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
            </form>
        </div>    
    {% endif %}
{% endblock %} 
