{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'un projet {% endblock %}

{% block contenu %} <h1> Modification d'un projet </h1> 

    {% if form.projet is defined %} 
        {% if form.projet != null %}    
            <div class="panel-body">                
                <form  class="form-signin" action="index.php?page=projetmodif" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" id="id" name="id" value="{{form.projet.id}}"/> 
                    <label for="inputNom" class="sr-only">Nom projet:</label>
                    <input type="text" id="inputLibelle" name="inputNom" class="form-control" placeholder="Saisir un nom de projet" value="{{form.projet.nom}}" required autofocus>
                    <label for="inputIdClient" class="sr-only">Client:</label>
                    <select name="inputIdClient" class="form-control">

                        {% for c in form.listeClient %}      
                            {% if form.projet.client == c.id %} 
                                <option value="{{ c.id }}" selected>{{ c.nom }}</option> 
                            {% else %} 
                                <option value="{{ c.id }}">{{ c.nom }} {{ c.contact }}</option> 
                            {% endif %}
                        {% endfor%}    
                    </select>
                    <textarea class="form-control" name="inputDescription" placeholder="Description du projet">{{form.projet.description}}</textarea>
                    <label for="inputIdResponsable" class="sr-only">Responsable:</label>
                    <select name="inputIdResponsable" class="form-control">
                        {% for r in form.liste %}
                            {% if form.projet.chef == r.id %} 
                                <option value="{{ r.id }}" selected>{{ r.nom }} {{ r.prenom }}</option> 
                            {% else %} 
                                <option value="{{ r.id }}">{{ r.nom }} {{ r.prenom }}</option> 
                            {% endif %} 
                        {% endfor%}    
                    </select>    
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Ajouter</button>
                </form>
            </div> 
        {% else %}  
            {% if form.valide == true %}
                <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>
            {% else %}    
                <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>
            {% endif %} 
        {% endif %} 
    {% else %} 
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>

    {% endif %}
{% endblock %} 
