{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des tâches {% endblock %}

{% block contenu %} <h1> Gestion des tâches </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        {% else %}  
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}         
    <h2>Projet : {{liste.nomProjet}}</h2>
    <div class="panel">
        <div class="panel-heading background-violet">Liste des tâches - <a href="index.php?page=tacheajout&id={{liste.idProjet}}" class="blanc">Ajouter une tâche</a></div>
        <div class="table-responsive">
            <table class="table ">
                <tr>
                    <th>A faire</th>  
                    <th>En Cours</th>  
                    <th>Terminée</th>                    
                </tr>
                <tr>
                    <td id="faire">
                        {%for e in liste.afaire%}
                            <div id="task_{{e.id}}">
                                <span class="clic" id="left_{{ e.id }}" onClick="task('left', {{ e.id }}, 1, this);"> < </span>
                                {{e.libelle}}
                                <span class="clic" id="right_{{ e.id }}" onClick="task('right', {{ e.id }}, 1, this);"> > </span>
                            </div>
                        {%endfor%}

                    </td>
                    <td id="cours">
                        {%for e in liste.enCours%}
                            <div id="task_{{e.id}}">
                                <span class="clic" id="left_{{ e.id }}" onClick="task('left', {{ e.id }}, 2, this);"> < </span>
                                {{e.libelle}}
                                <span class="clic" id="right_{{ e.id }}" onClick="task('right', {{ e.id }}, 2, this);"> > </span>
                            </div>
                        {%endfor%}

                    </td>
                    <td id="minee">
                        {%for e in liste.terminee%}
                            <div id="task_{{e.id}}">
                                <span class="clic" id="left_{{ e.id }}" onClick="task('left', {{ e.id }}, 3, this);"> < </span>
                                {{e.libelle}}
                                <span class="clic" id="right_{{ e.id }}" onClick="task('right', {{ e.id }}, 3, this);"> > </span>
                            </div>
                        {%endfor%}
                    </td>
                </tr> 
            </table>
        </div>
    </div>
    <div class="panel">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>  
                    <th>Coût</th>                    
                </tr>
                {% for t in tachelist%}
                    <tr>
                        <td>{{t.libelle}}</td>  
                        <td>{{t.cout}}</td>                    
                    </tr>
                {% endfor%}
                <tr><td></td><td></td></tr>
                <tr>
                    <th>Coût total des tâches</th>  
                    <th>{{liste.coutReel}} €</th>                    
                </tr>
                <tr>
                    <th>Coût prévu du projet</th>  
                    <th>{{liste.coutProjet}} €</th>   
                </tr>
            </table>        
        </div>
    </div>

{% endblock %} 

