{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'une tache {% endblock %}

{% block contenu %} <h1> Ajout d'une tache </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=tache&id={{liste.idProjet}}" class="violet">Retourner sur la liste des taches</a></h1>

        {% else %} 
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
        {% endif %}     
    {% else %}
        <div class="panel-body">
            <form  class="form-signin" action="index.php?page=tacheajout" method="post" enctype="application/x-www-form-urlencoded">
                <label for="inputLibelle" class="sr-only">Libellé:</label>
                <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Saisir un nom de la tâche" required autofocus>
                <input type="hidden" name="idProjet" value="{{liste.idProjet}}"/> 
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
            </form>
        </div>    
    {% endif %}
{% endblock %} 

