{% extends "base.html.twig" %}
{% block contenu %}
    <h1 class="h3 mb-3 font-weight-normal">Vos tâches</h1>
    
    <!-- <div class="panel">
        <div class="panel-heading background-violet">Toutes les tâches</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>
                    <th>Projets</th>
                </tr>
                {% for td in listeAll %}
                    <tr>
                        <td>{{td.nomTache}}</td>
                        <td>{{td.nomProjet}}</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>
            
    <div class="panel">
        <div class="panel-heading background-violet">Toutes vos tâches</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>
                    <th>Projets</th>
                </tr>
                {% for tvt in toutesVosTaches %}
                    <tr>
                        <td>{{tvt.libelle}}</td>
                        <td>{{tvt.nom}}</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>-->

    <div class="panel">
        <div class="panel-heading background-violet">à faire</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>
                    <th>Projets</th>
                </tr>
                {% for tvtaf in toutesVosTachesAfaire %}
                    <tr>
                        <td>{{tvtaf.libelle}}</td>
                        <td>{{tvtaf.nom}}</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>
                
    <div class="panel">
        <div class="panel-heading background-violet">en cours</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>
                    <th>Projets</th>
                </tr>
                {% for tvtec in toutesVosTachesEnCours %}
                    <tr>
                        <td>{{tvtec.libelle}}</td>
                        <td>{{tvtec.nom}}</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>
                
    <div class="panel">
        <div class="panel-heading background-violet">terminée</div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Tâches</th>
                    <th>Projets</th>
                </tr>
                {% for tvtt in toutesVosTachesTerminee %}
                    <tr>
                        <td>{{tvtt.libelle}}</td>
                        <td>{{tvtt.nom}}</td>
                    </tr> 
                {% endfor %}    
            </table>
        </div>
    </div>
{% endblock %}